@import url("https://use.typekit.net/tzr0flh.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.indexGrid {
  background-color: #151515;
  display: grid;
  grid-template-areas: "  fondoIndex   " "  pieIndex ";
  grid-template-rows: 100vh auto;
}

.carteleraGrid {
  background-color: #151515;
  display: grid;
  grid-template-areas: " cabezaCartelera  " " carteleraContent " " pieCartelera     ";
  grid-template-rows: 300px auto auto;
  gap: 50px;
}

.locacionGrid {
  background-color: #22403F;
  display: grid;
  grid-template-areas: " cabezaLocacion  " " locacionContent " " pieLocacion     ";
  grid-template-rows: 300px auto auto;
}

.contactoGrid {
  background-color: #22403F;
  display: grid;
  grid-template-areas: " cabezaContacto    " " contactoContent   " " piePaginaContacto ";
  grid-template-rows: 300px auto auto;
}

.nosotrosGrid {
  background-color: #151515;
  display: grid;
  grid-template-areas: " cabezaNosotros " " nosotrosContent" " pieNosotros    ";
  grid-template-rows: 300px auto auto;
}

.modal-dialog {
  top: 40px;
}
.modal-dialog .modal-content {
  background-color: #22403F !important;
  color: #f4f4f0 !important;
}
.modal-dialog .modal-content .modal-header .modal-title {
  margin-top: 20px;
  margin-left: 30px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}
.modal-dialog .modal-content .modal-body {
  margin-left: 30px;
  margin-right: 30px;
}
.modal-dialog .modal-content .modal-body p {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: small;
  text-align: left;
}
.modal-dialog .modal-content .modal-body img {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

button.btn-close {
  filter: brightness(0) invert(1);
}

.cabeza .titulo, .cabezaNosotros .titulo, .cabezaContacto .titulo, .cabezaLocacion .titulo, .cabezaCartelera .titulo {
  margin-top: 180px;
  margin-left: 30px;
}
.cabeza .titulo h1, .cabezaNosotros .titulo h1, .cabezaContacto .titulo h1, .cabezaLocacion .titulo h1, .cabezaCartelera .titulo h1 {
  color: #f4f4f0;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
}
.cabeza .titulo h2, .cabezaNosotros .titulo h2, .cabezaContacto .titulo h2, .cabezaLocacion .titulo h2, .cabezaCartelera .titulo h2 {
  color: #f4f4f0;
  margin-top: 10px;
  margin-left: 5px;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: small;
}

.cabezaCartelera {
  background-color: #22403F;
  grid-area: cabezaCartelera;
}

.cabezaLocacion {
  background-color: transparent;
  grid-area: cabezaLocacion;
}

.cabezaContacto {
  background-color: transparent;
  grid-area: cabezaContacto;
}

.cabezaNosotros {
  background-color: transparent;
  grid-area: cabezaNosotros;
}

.navbarNormal {
  position: absolute;
  top: 0px;
  background-color: transparent;
  width: 100%;
  height: 110px;
  display: none;
  flex-direction: row;
  justify-content: space-between;
}
.navbarNormal img {
  width: 60px;
  height: 60px;
  margin-right: 0%;
  margin-top: 15px;
  margin-left: 20px;
}
.navbarNormal nav {
  margin-right: 1%;
  margin-top: 10px;
  width: 200px;
  text-align: center;
}
.navbarNormal nav ul {
  padding-left: 0px !important;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
}
.navbarNormal nav ul li {
  padding-top: 10px;
  transition: 1s;
}
.navbarNormal nav ul li:hover {
  transform: translateY(-4px);
}
.navbarNormal nav ul li a {
  text-decoration: none;
  color: #f4f4f0;
}

.navbarHamburguesa {
  position: absolute;
  top: 0px;
  background-color: transparent;
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbarHamburguesa img {
  width: 55px;
  height: 55px;
  margin-right: 12px;
  margin-top: 15px;
}
.navbarHamburguesa .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 22px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.navbarHamburguesa .hamburgerLines {
  position: absolute;
  height: 26px;
  width: 32px;
  margin-top: 22px;
  margin-left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbarHamburguesa .hamburgerLines .line {
  height: 3.2px;
  width: 100%;
  border-radius: 10px;
  background: #f4f4f0;
}
.navbarHamburguesa .hamburgerLines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.navbarHamburguesa .hamburgerLines .line2 {
  transition: transform 0.2s ease-in-out;
}
.navbarHamburguesa .hamburgerLines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.navbarHamburguesa .menuItems {
  position: absolute;
  top: 0px;
  padding-top: 150px;
  background-color: #151515;
  z-index: 1;
  height: 150vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  list-style: none;
}
.navbarHamburguesa .menuItems li {
  margin-bottom: 60px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}
.navbarHamburguesa .menuItems li a {
  text-decoration: none;
  color: #f4f4f0;
}
.navbarHamburguesa input[type=checkbox]:checked ~ .hamburgerLines .line1 {
  transform: rotate(45deg);
}
.navbarHamburguesa input[type=checkbox]:checked ~ .hamburgerLines .line2 {
  transform: scaleY(0);
}
.navbarHamburguesa input[type=checkbox]:checked ~ .hamburgerLines .line3 {
  transform: rotate(-45deg);
}
.navbarHamburguesa input[type=checkbox]:checked ~ .logo {
  display: none;
}
.navbarHamburguesa input[type=checkbox]:checked ~ .menuItems {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .navbarHamburguesa {
    display: none;
  }
  .navbarNormal {
    display: flex;
  }
}
@media (min-width: 992px) {
  .navbarNormal nav {
    margin-top: 17px;
    width: 330px;
  }
}
.indexContent {
  grid-area: fondoIndex;
  background-image: url("https://format.creatorcdn.com/7a741b07-288a-4987-90ab-97dbd1b92a26/0/0/0/0,0,3422,2279,3422,1200/0-0-0/9e0f16a6-521a-4d0f-8acb-1dfda2851bfc/1/1/Tonchi_ML_Kyoskko_Navidad_baja_166_of_176_copy.jpg?fjkss=exp=1974576528~hmac=51d42bed0b51993aa0910f9d3d40f87cccb08bfbe2c26482515cf5336dc5ccab");
  background-position: center center;
  background-size: cover;
}
.indexContent .CineLaMina {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
}
.indexContent .CineLaMina .linkMaps {
  color: #f4f4f0;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
  margin-top: 100px;
}
.indexContent .CineLaMina .tituloCine {
  color: #f4f4f0;
  -webkit-text-stroke: 1.5px black;
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: xxx-large;
  margin-top: 50px;
}
.indexContent .CineLaMina .tituloMina {
  color: #f4f4f0;
  -webkit-text-stroke: 1.5px black;
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: xxx-large;
  margin-top: 20px;
}
.indexContent .CineLaMina .botones {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.indexContent .CineLaMina .botones a {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  width: 120px;
  position: relative;
  padding: 10px;
  border: 4px solid #f4f4f0;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
}
.indexContent .CineLaMina .botones a:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f4f4f0;
  border-radius: 10px;
  transform-origin: 0 bottom 0;
  transform: scaleY(0);
  transition: 0.4s ease-out;
}
.indexContent .CineLaMina .botones a:hover h2 {
  color: #151515;
}
.indexContent .CineLaMina .botones a:hover:before {
  transform: scaleY(1);
}
.indexContent .CineLaMina .botones a h2 {
  position: relative;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: large;
  transition: 1s ease-out;
}

.carteleraContent {
  grid-area: carteleraContent;
}
.carteleraContent .titulo {
  color: #f4f4f0;
  margin-left: 40px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
}
.carteleraContent .cartelera {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 200px;
}
.carteleraContent .cartelera .playtime {
  background-image: url("../images/PlaytimeMUBI.jpg");
  background-position: center center;
  background-size: cover;
}
.carteleraContent .cartelera .chuncking {
  background-image: url("../images/ChunkingMUBI.jpg");
  background-position: center center;
  background-size: cover;
}
.carteleraContent .cartelera .cuatro {
  background-image: url("../images/400MUBI.jpg");
  background-position: center center;
  background-size: cover;
}
.carteleraContent .cartelera .drive {
  background-image: url("../images/DriveMUBI.jpg");
  background-position: center center;
  background-size: cover;
}
.carteleraContent .cartelera .pelicula {
  height: 180px;
  width: 320px;
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}
.carteleraContent .cartelera .pelicula .tituloPelicula {
  margin-top: 120px;
  margin-left: 15px;
}
.carteleraContent .cartelera .pelicula .tituloPelicula h2 {
  color: #f4f4f0;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: large;
}
.carteleraContent .cartelera .pelicula .tituloPelicula h3 {
  color: #f4f4f0;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: small;
}

.locacionContent {
  grid-area: locacionContent;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 200px;
}
.locacionContent .imagen {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.locacionContent .imagen img {
  width: 80%;
}
.locacionContent .texto {
  color: #f4f4f0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  width: 300px;
}
.locacionContent .texto h2 {
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: x-large;
  margin-bottom: 40px;
}
.locacionContent .texto h3 {
  text-align: justify;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: medium;
}

.contactoContent {
  grid-area: contactoContent;
  margin-bottom: 100px;
}
.contactoContent form {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-areas: "nombre" "correo" "detalles" "boton";
  gap: 30px;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: medium;
  color: #f4f4f0;
}
.contactoContent form .nombre {
  grid-area: nombre;
}
.contactoContent form .nombre input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.contactoContent form .correo {
  grid-area: correo;
}
.contactoContent form .correo input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
}
.contactoContent form .detalles {
  grid-area: detalles;
  margin-top: 20px;
}
.contactoContent form .detalles textarea {
  width: 100%;
  margin-top: 20px;
}
.contactoContent form .boton {
  grid-area: boton;
  text-align: center;
}
.contactoContent form .boton button {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: medium;
  color: #f4f4f0;
  background-color: transparent;
  height: 50px;
  width: 100px;
  margin-top: 40px;
  border: 2px #f4f4f0 solid;
  border-radius: 10px;
  cursor: pointer;
}
.contactoContent form .boton button:hover {
  background-color: #f4f4f0;
  color: #22403F;
  transition: 0.5s;
}

.nosotrosContent {
  grid-area: nosotrosContent;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 150px;
}
.nosotrosContent img {
  width: 300px;
}
.nosotrosContent .texto {
  text-align: center;
  margin-top: 50px;
  width: 300px;
  color: #f4f4f0;
}
.nosotrosContent .texto h2 {
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: x-large;
  margin-bottom: 40px;
}
.nosotrosContent .texto h3 {
  text-align: justify;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: medium;
}
.nosotrosContent .texto .saltoLinea {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .locacionContent .texto {
    width: 400px;
  }
  .locacionContent .imagen img {
    width: auto;
  }
  .nosotrosContent img {
    width: 400px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .nosotrosContent .texto {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;
  }
}
@media (min-width: 768px) {
  .locacionContent {
    justify-content: space-evenly;
  }
  .locacionContent .texto {
    width: 450px;
    margin-bottom: 80px;
  }
  .locacionContent .imagen {
    margin-top: 0px;
  }
  .contactoContent form {
    grid-template-areas: "nombre   correo   " "detalles detalles " "boton    boton    ";
  }
}
@media (min-width: 992px) {
  .carteleraContent .cartelera {
    width: 70%;
    justify-content: space-between;
  }
  .carteleraContent .cartelera .pelicula {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .carteleraContent .cartelera {
    width: 90%;
  }
  .carteleraContent .cartelera .pelicula {
    height: 225px;
    width: 450px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
  }
  .carteleraContent .cartelera .pelicula .tituloPelicula {
    margin-top: 160px;
  }
  .nosotrosContent img {
    width: 600px;
  }
  .nosotrosContent .texto {
    margin-top: 10px;
  }
}
@media (min-width: 1400px) {
  .carteleraContent .cartelera {
    width: 80%;
  }
  .carteleraContent .cartelera .pelicula {
    height: 225px;
    width: 450px;
  }
}
.pie, .pieNosotros, .piePaginaContacto, .pieLocacion, .pieCartelera, .pieIndex {
  padding: 50px;
  color: #f4f4f0;
  display: grid;
  grid-template-areas: "tituloMina   tituloMina" "contacto contacto";
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px auto;
  padding-bottom: 100px;
}
.pie h2, .pieNosotros h2, .piePaginaContacto h2, .pieLocacion h2, .pieCartelera h2, .pieIndex h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
  margin-bottom: 30px;
}
.pie .tituloMina, .pieNosotros .tituloMina, .piePaginaContacto .tituloMina, .pieLocacion .tituloMina, .pieCartelera .tituloMina, .pieIndex .tituloMina {
  grid-area: tituloMina;
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
}
.pie .tituloMina h3, .pieNosotros .tituloMina h3, .piePaginaContacto .tituloMina h3, .pieLocacion .tituloMina h3, .pieCartelera .tituloMina h3, .pieIndex .tituloMina h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
}
.pie .pieContacto, .pieNosotros .pieContacto, .piePaginaContacto .pieContacto, .pieLocacion .pieContacto, .pieCartelera .pieContacto, .pieIndex .pieContacto {
  grid-area: contacto;
  text-align: center;
  display: grid;
  grid-template-areas: "titulo titulo        " "correo redesSociales ";
  grid-template-rows: 80px 150px;
}
.pie .pieContacto .titulo, .pieNosotros .pieContacto .titulo, .piePaginaContacto .pieContacto .titulo, .pieLocacion .pieContacto .titulo, .pieCartelera .pieContacto .titulo, .pieIndex .pieContacto .titulo {
  grid-area: titulo;
}
.pie .pieContacto .correo, .pieNosotros .pieContacto .correo, .piePaginaContacto .pieContacto .correo, .pieLocacion .pieContacto .correo, .pieCartelera .pieContacto .correo, .pieIndex .pieContacto .correo {
  grid-area: correo;
}
.pie .pieContacto .correo div, .pieNosotros .pieContacto .correo div, .piePaginaContacto .pieContacto .correo div, .pieLocacion .pieContacto .correo div, .pieCartelera .pieContacto .correo div, .pieIndex .pieContacto .correo div {
  margin-top: 15px;
}
.pie .pieContacto .redesSociales, .pieNosotros .pieContacto .redesSociales, .piePaginaContacto .pieContacto .redesSociales, .pieLocacion .pieContacto .redesSociales, .pieCartelera .pieContacto .redesSociales, .pieIndex .pieContacto .redesSociales {
  grid-area: redesSociales;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pie .pieContacto .redesSociales .iconosRedes, .pieNosotros .pieContacto .redesSociales .iconosRedes, .piePaginaContacto .pieContacto .redesSociales .iconosRedes, .pieLocacion .pieContacto .redesSociales .iconosRedes, .pieCartelera .pieContacto .redesSociales .iconosRedes, .pieIndex .pieContacto .redesSociales .iconosRedes {
  font-size: 40px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  color: #f4f4f0;
}
.pie .pieContacto h3, .pieNosotros .pieContacto h3, .piePaginaContacto .pieContacto h3, .pieLocacion .pieContacto h3, .pieCartelera .pieContacto h3, .pieIndex .pieContacto h3 {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: large;
}
.pie .pieContacto p, .pieNosotros .pieContacto p, .piePaginaContacto .pieContacto p, .pieLocacion .pieContacto p, .pieCartelera .pieContacto p, .pieIndex .pieContacto p {
  margin-top: 10px;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: medium;
}

@media (min-width: 768px) {
  .pie, .pieNosotros, .piePaginaContacto, .pieLocacion, .pieCartelera, .pieIndex {
    grid-template-areas: "tituloMina contacto";
  }
  .pie .pieContacto, .pieNosotros .pieContacto, .piePaginaContacto .pieContacto, .pieLocacion .pieContacto, .pieCartelera .pieContacto, .pieIndex .pieContacto {
    margin-top: 15px;
    margin-left: 10px;
  }
  .pie .pieContacto .redesSociales .iconosRedes, .pieNosotros .pieContacto .redesSociales .iconosRedes, .piePaginaContacto .pieContacto .redesSociales .iconosRedes, .pieLocacion .pieContacto .redesSociales .iconosRedes, .pieCartelera .pieContacto .redesSociales .iconosRedes, .pieIndex .pieContacto .redesSociales .iconosRedes {
    font-size: 50px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (min-width: 992px) {
  .pie .pieContacto, .pieNosotros .pieContacto, .piePaginaContacto .pieContacto, .pieLocacion .pieContacto, .pieCartelera .pieContacto, .pieIndex .pieContacto {
    margin-left: 120px;
    grid-template-areas: "titulo redesSociales " "correo redesSociales ";
  }
  .pie .pieContacto .redesSociales, .pieNosotros .pieContacto .redesSociales, .piePaginaContacto .pieContacto .redesSociales, .pieLocacion .pieContacto .redesSociales, .pieCartelera .pieContacto .redesSociales, .pieIndex .pieContacto .redesSociales {
    align-items: center;
  }
  .pie .pieContacto .redesSociales .iconosRedes, .pieNosotros .pieContacto .redesSociales .iconosRedes, .piePaginaContacto .pieContacto .redesSociales .iconosRedes, .pieLocacion .pieContacto .redesSociales .iconosRedes, .pieCartelera .pieContacto .redesSociales .iconosRedes, .pieIndex .pieContacto .redesSociales .iconosRedes {
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  .pie .pieContacto .redesSociales .iconosRedes, .pieNosotros .pieContacto .redesSociales .iconosRedes, .piePaginaContacto .pieContacto .redesSociales .iconosRedes, .pieLocacion .pieContacto .redesSociales .iconosRedes, .pieCartelera .pieContacto .redesSociales .iconosRedes, .pieIndex .pieContacto .redesSociales .iconosRedes {
    font-size: 80px;
  }
}
.pieIndex {
  grid-area: pieIndex;
  background: linear-gradient(-45deg, #74b0c8, #0367a6, #0d2549, #0367a6, #74b0c8);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

.pieCartelera {
  grid-area: pieCartelera;
  background: linear-gradient(-45deg, #2a2d2e, #394a54, #000000, #394a54, #2a2d2e);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

.pieLocacion {
  grid-area: pieLocacion;
  background: linear-gradient(-45deg, #22403F, #2A5748, #254D35, #2A5748, #22403F);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

.piePaginaContacto {
  grid-area: piePaginaContacto;
  background: linear-gradient(-45deg, #22403F, #2A5748, #254D35, #2A5748, #22403F);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

.pieNosotros {
  grid-area: pieNosotros;
  background: linear-gradient(-45deg, #2a2d2e, #394a54, #000000, #394a54, #2a2d2e);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*# sourceMappingURL=style.css.map */
