// Layout donde se encuentran los grids de cada uno de los cuerpos de nuestras páginas

//Grid de la página Index
.indexGrid {
    background-color: $negro;
    display: grid;
    grid-template-areas:
        "  fondoIndex   "
        "  pieIndex ";
    grid-template-rows: 100vh auto;
}

//Grid de la página Cartelera
.carteleraGrid {
    background-color: $negro;
    display: grid;
    grid-template-areas:
        " cabezaCartelera  "
        " carteleraContent "
        " pieCartelera     ";
    grid-template-rows: 300px auto auto;
    gap: 50px;
}

//Grid de la página Locación
.locacionGrid {
    background-color: $verde;
    display: grid;
    grid-template-areas:
        " cabezaLocacion  "
        " locacionContent "
        " pieLocacion     ";
    grid-template-rows: 300px auto auto;
}

//Grid de la página Contacto
.contactoGrid {
    background-color: $verde;
    display: grid;
    grid-template-areas:
        " cabezaContacto    "
        " contactoContent   "
        " piePaginaContacto ";
    grid-template-rows: 300px auto auto;
}

//Grid de la página Nosotros
.nosotrosGrid{
    background-color: $negro;
    display: grid;
    grid-template-areas: " cabezaNosotros "
                         " nosotrosContent"
                         " pieNosotros    ";
    grid-template-rows: 300px auto auto;
}

