//Estilo de las navbars que se utilizarán en el proyecto

// Estilo de la navbar que se utilizará en pantallas de escritorio y tabletas, por lo que al ser un diseño
// Mobile First, primero lo tendremos como con display: None, y en la medias queries al ser una
// Una pantalla de tableta o superior, pasara a ser display: flex, y de está manera, esta navbar
// Solo se representará en vista de escritorio.

.navbarNormal {
    position: absolute;
    top: 0px;
    background-color: transparent;
    width: 100%;
    height: 110px;
    display: none;
    flex-direction: row;
    justify-content: space-between;

    img {
        width: 60px;
        height: 60px;
        margin-right: 0%;
        margin-top: 15px;
        margin-left: 20px;
    }

    nav {
        margin-right: 1%;
        margin-top: 10px;
        width: 200px;
        text-align: center;

        ul {
            padding-left: 0px !important;
            margin-bottom: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            list-style: none;
            @include fuente(400, normal, medium);

            li {
                padding-top: 10px;
                transition: 1s;

                &:hover {
                    transform: translateY(-4px);
                }

                a {
                    text-decoration: none;
                    color: $blanco;
                }
            }
        }
    }
}

// Estilo de la navbar que se utilizará en pantallas de telefonos, por lo que será un menú de hamburguesa

.navbarHamburguesa {
    position: absolute;
    top: 0px;
    background-color: transparent;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
        width: 55px;
        height: 55px;
        margin-right: 12px;
        margin-top: 15px;
    }

    .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 22px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .hamburgerLines {
        position: absolute;
        height: 26px;
        width: 32px;
        margin-top: 22px;
        margin-left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
            height: 3.2px;
            width: 100%;
            border-radius: 10px;
            background: $blanco;
        }

        .line1 {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }

        .line2 {
            transition: transform 0.2s ease-in-out;
        }

        .line3 {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }
    }

    .menuItems {
        padding-left: 0px !important;
        position: absolute;
        top: 0px;
        padding-top: 150px;
        background-color: $negro;
        z-index: 1;
        height: 150vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: transform 0.5s ease-in-out;
        text-align: center;
        list-style: none;

        li {
            margin-bottom: 60px;
            @include fuente(700, normal, large);

            a {
                text-decoration: none;
                color: $blanco;
            }
        }
    }

    input[type="checkbox"]:checked ~ .hamburgerLines .line1 {
        transform: rotate(45deg);
    }

    input[type="checkbox"]:checked ~ .hamburgerLines .line2 {
        transform: scaleY(0);
    }

    input[type="checkbox"]:checked ~ .hamburgerLines .line3 {
        transform: rotate(-45deg);
    }

    input[type="checkbox"]:checked ~ .logo {
        display: none;
    }

    input[type="checkbox"]:checked ~ .menuItems {
        transform: translateX(0);
    }
}

//En esta media query desaparecerá la navbarHamburguesa, y aparecerá navbarNormal
@media (min-width: 768px) {
    .navbarHamburguesa {
        display: none;
    }

    .navbarNormal {
        display: flex;
    }
}

//En esta media query se ajustarán algunos aspectos de navbarNormal
@media (min-width: 992px) {
    .navbarNormal {
        nav {
            margin-top: 17px;
            width: 330px;
        }
    }
}
