// Estilos de los pies de las páginas del sitio web 

// estilo de pie default que tendremos en cada una de las páginas, 
// Y podremos integrarlo con un extend a los demás pies de las demás páginas
.pie{
    padding: 50px;
    color: $blanco;
    display: grid;
    grid-template-areas:
        "tituloMina   tituloMina"
        "contacto contacto";
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px auto;
    padding-bottom: 100px;

    h2 {
        @include fuente(600, normal, xx-large);
        margin-bottom: 30px;
    }

    .tituloMina {
        grid-area: tituloMina;
        @include fuente(800, normal, 60px);
        h3{
            @include fuente(800, normal, 60px);
        }
    }

    .pieContacto {
        grid-area: contacto;
        text-align: center;
        display: grid;
        grid-template-areas:
            "titulo titulo        "
            "correo redesSociales ";
        grid-template-rows: 80px 150px;


        .titulo {
            grid-area: titulo;
        }

        .correo {
            grid-area: correo;
            div{
                margin-top: 15px;
            }
        }

        .redesSociales {
            grid-area: redesSociales;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .iconosRedes {
                font-size: 40px;
                height: auto;
                margin-right: 10px;
                margin-left: 10px;
                color: $blanco;
            }
        }

        h3 {
            @include fuente(400, italic, large);
        }
        p {
            margin-top: 10px;
            @include fuente(400, italic, medium);
        }
    }
}

@media (min-width: 768px) {
    .pie{
        grid-template-areas: "tituloMina contacto";

        .pieContacto{
            margin-top: 15px;
            margin-left: 10px;

            .redesSociales{

                .iconosRedes{
                    font-size: 50px;
                    margin-right: 15px;
                    margin-left: 15px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .pie{
        .pieContacto{
            margin-left: 120px;
            grid-template-areas:
            "titulo redesSociales "
            "correo redesSociales ";
            .redesSociales{
                align-items: center;
                .iconosRedes{
                    font-size: 60px;
                }
            }
        }

    }
}

@media (min-width: 1200px){
    .pie{
        .pieContacto{
            .redesSociales{
                .iconosRedes{
                    font-size: 80px;
                }
            }
        }
    }
}

// Estilo de pie de página Index 
.pieIndex{
    @extend .pie;
    grid-area: pieIndex;
    @include degradadoAnimacion(#74b0c8, #0367a6, #0d2549);
}

// Estilo de pie de página Cartelera
.pieCartelera{
    @extend .pie;
    grid-area: pieCartelera;
    @include degradadoAnimacion(#2a2d2e, #394a54, #000000);
}

// Estilo de pie de página Locación
.pieLocacion{
    @extend .pie;
    grid-area: pieLocacion;
    @include degradadoAnimacion(#22403F, #2A5748, #254D35);
}

// Estilo de pie de página Contacto
.piePaginaContacto{
    @extend .pie;
    grid-area: piePaginaContacto;
    @include degradadoAnimacion(#22403F, #2A5748, #254D35);
}

// Estilo de pie de página Nosotros
.pieNosotros{
    @extend .pie;
    grid-area: pieNosotros;
    @include degradadoAnimacion(#2a2d2e, #394a54, #000000);
}

// Animacion de degradado que se mueve
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


